<!DOCTYPE>
<html lang="en">
<title>Super Geocoder</title>
<head>
    <link href="..\static\main.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <h1>Super Geocoder</h1>
    <h3>Please upload your csv file. The values containing addresses should be
        in column named address or Address. </h3>
    <div class="message">
        {{text | safe}}
    </div>
    <form action="{{url_for('success')}}" method="POST"
          enctype="multipart/form-data">
        <input type="file" name="file">
        <button type="submit"> Submit</button>
    </form>
    <!--        <input type="button" value="Haahaha" onclick='myfunction();'>-->
    {% include [table] ignore missing %}
    {% include [btn] ignore missing %}
</div>
</body>
</html>